[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://gitee.com/jiweibo/gflags.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://gitee.com/jiweibo/googletest.git
[submodule "third-party/protobuf-mobile"]
	path = third-party/protobuf-mobile
	url = https://gitee.com/jiweibo/protobuf-mobile.git
[submodule "third-party/protobuf-host"]
	path = third-party/protobuf-host
	url = https://gitee.com/jiweibo/protobuf.git
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://gitee.com/jiweibo/flatbuffers.git
